
		body {
			background-color: silver;
			color: blue;
			text-align: center;
			}
		h1 {
			background-color: white;
			color: green;
			font-size: 150%;
			font-weight: bold;
			padding: 20px 20px;
			margin: 20px;}

			
			section.container {
				
				width: 2500px;
				height: 400px;
				float: left;
				margin: 5px 5px;
				background-color: yellow;
				border: thick solid black;
				padding: 4px 4px;}
			
	
			h2.title {
			height: 30%; width: 50%; 
			font-size: 50%;
			position: relative; top: 1px; right: 1px; padding: 2px;
			background-color: grey; color: red; 
			border: thin solid black;
			}
