
		body {
			background-color: silver;
			width: 95%;
			margin: 0 auto;
			color: blue;
			text-align: center;
			}
		h1 {
			background-color: white;
			color: green;
			font-size: 150%;
			font-weight: bold;
			padding: 20px 20px;
			margin: 20px;}

			
			div.container1, .container2, .container3 {
				
				width: 31.3%;
				height: 200px;
				float: left;
				margin: 1px;
				background-color: yellow;
				border: thick solid black;
				padding: 2px 2px;}
			
	
			p.title1, .title2, .title3 {
			height: 30%; width: 31.3%;
			position: relative;
			font-size: 50%;
			position: relative; top: 1px; right: 1px; padding: 2px;
			background-color: grey; color: red; 
			border: thin solid black;
			}
