						/***** BODY *****/
body {     
	font-size: 20px;
	color: maroon;
	background-color: rgb(300,250,100);
	font-family: 'Tahoma', sans-serif; 
}
ul {
	list-style-type: none;
}
#nav-list a {
	color: red;
	text-align: center;
}
#nav-list a:hover {
	background: white;
}
#nav-list a span {

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid red;
} 
#nav-list li {
	border: 1px solid red;
	width: 500px;
	padding: 0px;
	clear: ;
	clear: ;
	margin-right:auto;
	margin-left:auto;
	font-size: 1.8em;
	font-weight: bold;
	text-transform: uppercase;	
	background-color: rgb(280,200,100);
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1.7em;
	font-weight: bold;
}
.jumbotron {
	background-color: rgb(280,200,100);
	width: 90%;
	padding: 20px 40px;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	box-shadow: 0 0 50px yellow;
	border: 2px solid red;
	overflow: scroll;
	font-size: 0.5em;
	font-weight: bold;
	font-style: ;
	color: ;
}	
h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 2.7em;
	font-weight: bold;

}

}

						/***** END OF BODY *****/


						/***** HEADER *****/

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    height: 100px;
    background-color: rgb(350,150,70);
}

#header-nav {
	background-color: rgb(350,150,70);
	border-radius: 0;
	border: 0;
	height: 100px;
}
.navbar-brand {
	padding: 10px;
}
.navbar-brand h1 { /***** FOOD, LLC *****/
	font-family: Tahoma, serif;
	color: maroon;
	font-size: 2em;
	padding: 10px;
	text-transform: ;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px yellow;
	margin-top: 0;
	margin-bottom: 0px;
	line-height:;
	vertical-align: middle;


 }
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid red;
	background-color: rgb(300,250,100);
	vertical-align: ;
}
.navbar-header button.navbar-toggle {

}

					/***** END OF HEADER *****/



/***** FOOTER *****/




/***** END OF FOOTER *****/




					/*****Simple Responsive Framework*****/

.row {width:100%;}

				/********** Large devices only **********/

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
	}
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 74.99%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
}
				/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		}
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 74.99%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
	 }

	 			/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		}
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 74.99%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
	}

		/********** Extra-small, mobile devices only **********/
@media (max-width: 767px) {
	.col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, 
	.col-mob-7, .col-mob-8, .col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
		float: left;
		}
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 74.99%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
	}

				/*****End of Simple Responsive Framework*****/


